h1 {
    text-align: center;
}

.pc {
    text-align: center;
}

.top-right-group {
    text-align: center;
    align-items: center;
}

input, button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}